doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/plants.css')
		script(src='/javascripts/plants.js')
		block head
	body
		#content
			h1= title
			#navbar
				include navbar
			- if (typeof(error) !== 'undefined')
				#error.error= error
			- else
				block content
