body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#content {
	margin: 0 5%;
}

table {
	width: 100%;
}

td {
	border-collapse: collapse;
}

tr:nth-child(2n)>td:nth-child(2n) {
	background-color: #aef;
}

tr:nth-child(2n)>td:nth-child(2n+1) {
	background-color: #aff;
}

tr:nth-child(2n+1)>td:nth-child(2n) {
	background-color: #faf;
}

tr:nth-child(2n+1)>td:nth-child(2n+1) {
	background-color: #eaf;
}

thead th,
tfoot th {
	background-color: #aaf;
}

th>a {
	display: block;
}

th a:first-letter {
	text-transform: uppercase;
}

#solution {
	background-color: #88f;
	margin: 2px;
	padding: 4pt;
}

thead a {
	color: inherit;
	text-decoration: none;
}

tfoot * {
	color: inherit;
}

tfoot {
	font-size: 0.8em;
}

.button {
	padding: 0 0.4em;
	border: 1px solid transparent;
	text-decoration: none;
}

.button:hover, .buttonup {
	border: 1px outset #eef;
	background-color: #ccf;
}

.button:active, .buttondown {
	border: 1px inset #eef;
	background-color: #eef;
}

.hspace {
	margin: 0 0.2em;
}

.active {
	text-decoration: underline !important;
}

.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	width: 100%;
	align-items: baseline;
}

.flexbox.left {
	justify-content: flex-start;
}

.flexbox.stretch {
	justify-content: space-between;
}

.flexbox.stretch>.flexbox {
	width: auto;
	display: inline-flex;
}

.flex  {
	white-space: nowrap;
	margin: 0 2em;
}

#navbar {
	background: #eef;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	width: 100%;
}

#navbar>* {
	text-align: center;
	padding: 0.2em 2.0em;
	margin: 0;
	color: #000;
	text-transform:capitalize;
	width: 6em;
}

a {
	text-decoration: none;
}

.editbox {
	width: 100%;
}

.editor {
	width: 100%;
}

#editors {	
	display: none;
}

#rownew {
	display: none;
	min-height: 1.2em;
}

th, td {
	white-space: nowrap;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

th:first-child {
	text-align: left;
}

td {
	text-align: right;
	padding-left: 1em;
	padding-right: 0.5em;
}

td:first-child {
	white-space: normal;
	text-align: left;
}

td.compact {
	padding: 0;
}

.numeric {
	width: 5em;
}

input, select {
	margin: 0;
	border: 1px solid #448;
	background: #ccf;
}

#solution table {
	width: auto;
}

#solution caption {
	background: #ccf;
	padding: 0 0.6em;
}

#solution caption>table,
#solution caption>table>tr,
#solution caption>table>tr>td {
	background: inherit;
}

#solution caption>table>tr>td:nth-child(1) {
	text-align: right;
}

#solution caption>table>tr>td:nth-child(2) {
	text-align: left;
}

#solution caption>div>* {
	white-space: nowrap;
	margin-right: 2em;
}

/* Need to state the obvious for AJAX table to work */
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
